.profile-wrapper {
  display: flex;
  background-color: #f2f2f2;
  padding: 20px;
}

.user-profile {
  flex: 1;
  align-items: center;
  margin-top: 100px;
  padding-left: 30px;
}

.image-col {
  padding-bottom: 24px;
}

.image {
  width: 200px;
  border-radius: 10px;
}

.profile-card {
  margin-top: 200px;
  height: 200px;
  padding: 50px;
  width: 300px;
  background-color: white;
  border-radius: 17px;
}

.card-body {
  width: 300px;
}
.card {
  box-sizing: border-box;
  width: 190px;
  height: 254px;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  color: black;
}

.card:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.row {
  width: 415px;
  padding-left: 60px;
}

.card-info {
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-info h4 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #333333;
}

p {
  margin-top: 8%;
  font-family: "Quicksand";
}

.full-name {
  font-size: 30px;
}

.email-info {
  margin-top: 20px;
  margin-bottom: -10px;
}

.contact-info {
  margin-bottom: -52px;
}

.email-info,
.contact-info {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  row-gap: 5px;
  padding: 5px;
}

.email-info p,
.contact-info p {
  margin-left: 10px;
  font-size: 18px;
  color: #666666;
}

.email-info span,
.contact-info span {
  font-family: "Quicksand";
  font-size: 20px;
}

.listing {
  font-family: "Quicksand";
}

.cards {
  flex: 2;
  flex-wrap: wrap;
}

.cards-lists {
  display: flex;
  margin-top: 6%;
  gap: 50%;
  margin-bottom: 20%;
  margin-left: -7%;
  padding-top: 16px;
  max-width: 70%;
  flex-wrap: wrap;
  row-gap: 32px;
}
