.profile-wrapper {
  display: flex;
  background-color: #f2f2f2;
}

.user-profile {
  flex: 1;
  margin-left: -32px;
  margin-top: 200px;
}

.cards {
  flex: 2;
  flex-wrap: wrap;
}

h1 {
  margin-top: 8%;
  margin-left: -32px;
  font-family: "Quicksand";
  font-size: 40px;
}
.cards-lists {
  display: flex;
  margin-top: 6%;
  gap: 50%;
  margin-bottom: 20%;
  margin-left: -7%;
  padding-top: 16px;
  max-width: 70%;
  flex-wrap: wrap;
  row-gap: 32px;
}
