.profile-wrapper {
  display: flex;
  background-color: #f2f2f2;
  padding: 20px;
  height: 170lvh;
  width: 100lvw;
}

.user-profile {
  flex: 1;
  align-items: center;
  margin-top: 100px;
}

.image-col {
  padding-bottom: 10px;
}

.image {
  width: 240px;
  border-radius: 10px;
}

.profile-card {
  height: 200px;
  padding: 16px;
  width: 500px;
  margin-left: -40px;
  background-color: white;
  border-radius: 17px;
}

.card-body {
  width: 360px;
}
.card {
  box-sizing: border-box;
  width: 400px;
  height: 220px;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  color: black;
}

.card:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.profile-row {
  width: 424px;
  margin-inline: 16px;
  padding-left: 120px;
}

.card-info {
  padding: 24px;
  width: 340px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-info h4 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #333333;
}

.cards .save {
  display: none;
}

p {
  margin-top: 8%;
  font-family: "Quicksand";
}

.full-name {
  font-size: 26px;
  padding-right: 40px;
}

.email-info {
  margin-top: 20px;
  margin-bottom: -10px;
}

.contact-info {
  margin-bottom: -48px;
}

.email-info,
.contact-info {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  row-gap: 5px;
  padding: 5px;
}

.email-info p,
.contact-info p {
  margin-left: 10px;
  font-size: 18px;
  color: #666666;
}

.email-info span,
.contact-info span {
  font-family: "Quicksand";
  font-size: 18px;
  margin-left: 4px;
}

.listing {
  font-family: "Quicksand";
  padding-right: 160px;
  margin-bottom: -45px;
}

.cards {
  flex: 2;
  flex-wrap: wrap;
}
.profile-card {
  margin-top: 20% !important;
  margin-left: -50%;
}

.cards-lists {
  display: flex;
  margin-top: 4%;
  gap: 50%;
  margin-bottom: 20%;
  margin-left: 35%;
  padding-top: 16px;
  max-width: 70%;
  flex-wrap: wrap;
  row-gap: 32px;
}

.no-listing-msg {
  font-size: 18px;
  color: #666;
  text-align: center;
  padding: 20px;
  width: 780px;
  margin-top: 80px;

  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
