.form-range {
  width: 100%;
  height: 1.5rem;
  padding: 0;
  appearance: none;
  background-color: transparent;
  border: none;
}
.filters h2 {
  margin-left: 16px;
  margin-top: -49.5px;
  position: absolute;
  font-size: 40px;
  font-family: "Quicksand";
}

#cards-lists2 {
  display: flex;
  flex-wrap: wrap;
  gap: 81px;
  margin-left: 29%;
  margin-top: -700px;
  left: 44%;
  top: -20%;
  flex-flow: row wrap;
  flex-direction: row;
  padding: 0 33px;
  box-sizing: border-box;
  flex-basis: calc(50% - 20px);
}

#featuredi {
  margin-left: -580px;
  margin-top: 40px;
  font-size: 30px;
  font-style: italic;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.img {
  width: 275px;
  height: 309px;
  position: absolute;
  overflow: hidden;
  z-index: 2;
  left: 112px;
  top: -38px;
  border-radius: 20px 20px 20px 20px;
}

.carousel-control-prev-icon {
  border-radius: 10px;
}

.carousel-control-wrapper {
  width: 40px;
  height: 40px;
  background-color: white;
  /* background-image: url("../assets/prev.svg"); */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-control-prev {
  margin-left: 10px;
}
.carousel-control-next {
  margin-right: 10px;
}

.carousel-item img {
  width: 100%;
  height: 100%;
}

.save {
  transition: 0.2s ease-in-out;
  border-radius: 10px;
  margin: 20px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
}

.save .svg {
  width: 15px;
  height: 15px;
}

.text {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: space-around;
}

.card:hover {
  cursor: pointer;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
}

.save:hover {
  transform: scale(1.1) rotate(10deg);
}

.save:hover .svg {
  fill: #ced8de;
}

.location {
  position: absolute;
  bottom: 0;
  left: 23px;
  line-height: 30px;
}
.frame {
  position: absolute;
  top: 330px;
  left: 5px;
  width: 205px;
  height: 30px;
  overflow: hidden;
  font-size: 20px;
}
.distance {
  position: absolute;
  width: calc(100% - 23px);
  bottom: 0;
  left: 23px;
  line-height: 22px;
  white-space: pre-wrap;
  /* display: inline-block; */
}
.frame1 {
  position: absolute;
  top: 362px;
  left: 5px;
  width: 311px;
  height: 18px;
  overflow: hidden;
}
.span {
  line-height: 36px;
}
.mo {
  font-size: 16px;
  line-height: 26px;
  color: #9095a1;
}
.frame2,
.price {
  position: absolute;
}
.price {
  bottom: 0;
  left: 25px;
}
.frame2 {
  top: 320px;
  left: 0;
  width: 113px;
  height: 6px;
  font-size: 24px;
  color: #171a1f;
}
.description {
  position: absolute;
  top: 0;
  left: 23px;
  line-height: 22px;
  /* display: inline-block; */
  width: 258px;
}
.frame3 {
  position: absolute;
  top: 378px;
  width: 281px;
  left: 5px;
  height: 20px;
  overflow: hidden;
}
.duration {
  position: absolute;
  top: 0;
  left: 23px;
  line-height: 24px;
  /* display: inline-block; */
  width: 258px;
}

.container-3,
.frame4 {
  position: absolute;
  left: 0;
  margin-top: 40px;
  overflow: hidden;
}
.frame4 {
  top: 360px;
  width: 281px;
  height: 20px;
  left: 5px;
  font-size: 15px;
}
.container-3,
.frame-icon {
  top: -1px;
  width: 343px;
  height: 309px;
}
.container-3 {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next row */
  flex-flow: row wrap;
  max-width: 280px;
  top: -80px;
  left: 110px;
  /* border-radius: 6px; */
  background-color: #fff;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 4px 9px rgba(23, 26, 31, 0.11);
  height: 440px;
}
.container-3-parent {
  display: flex;
  /* max-width: 10%; */
  position: relative;
  /* height: 100px; */
  text-align: left;
  font-size: 14px;
  color: #323743;
  font-family: Manrope;
  left: -80px;
  height: 440px;
  margin-top: 40px;
  /* flex-flow: row wrap; */
  flex-wrap: wrap;
  flex-flow: row wrap;
  max-inline-size: 245px;
  margin-left: -23px;
}

#buttons_f {
  position: absolute;
}

.btn-outline-secondary:hover {
  transition: 0.6s;
  padding-right: 10px;
  padding-left: 10px;
}
.btn-btn-dark:hover {
  transition: 1s;
  padding-right: 10px;
}

.filteredData {
  display: flex;
  flex-wrap: wrap;
}

.filters {
  flex: 1;
  padding-left: 16px;
  padding-right: 64px;
  padding-top: 150px;
  height: 100vh;
  /* box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); small shadow*/
  /* box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.075); large shadow*/
  box-shadow: 1.5rem -5rem 4rem rgba(0, 0, 0, 0.1); /* intense shadow */
  max-width: 25%;
}

.cards {
  flex: 4;
  background-color: #f2f2f2;
  flex-wrap: wrap;
  padding-left: 70px;
}

/* .cards-lists {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 12%;
  gap: 20%;
  margin-bottom: 20%;
  padding-left: -20px;
  padding-top: 16px;
  max-width: 75%;

  row-gap: 0px;
} */

@media only screen and (max-width: 1200px) {
  #customRange2 {
    width: 250px;
  }
  #form-label {
    margin-left: -40px;
  }
}

@media only screen and (max-width: 1111px) {
  #customRange2 {
    width: 220px;
  }
  #form-label {
    margin-left: -40px;
  }
}

@media screen and (max-width: 1000px) {
  #buttons_f {
    position: unset;
    display: flex;
    position: relative;
    flex-direction: row;
    margin-left: 100px;
    margin-top: initial;
    width: unset;
    width: 100px;
    height: 65px;
    margin-left: 20px !important;
    margin-top: 0px !important;
  }
  #buttons_f_1 {
    margin-left: 250px !important;
    margin-top: 70px !important;
    width: 30% !important;
  }
  .filters {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    max-width: 100%;
    width: 100%;
    max-height: 200%;
    height: 200%;
    flex: none;
    overflow-x: scroll;
  }
  .filters h2 {
    font-size: initial;
    font-size: 30px;
  }
  #cards-lists2 {
    margin-top: 15%;
    margin-left: 0px;
  }
  .form-range {
    position: relative !important;
    margin-top: 40px !important;
    margin-left: -150px !important;
  }
  .form-label {
    position: relative !important;

    margin-top: -20px !important;
    margin-left: 80px !important;
  }
  .filteredData {
    max-width: 150%;
    width: 150%;
  }
}

@media screen and (max-width: 10000px) {
  #cards-lists2 .container-3-parent {
    /* flex-flow: row wrap; */
    flex-wrap: wrap;
    display: flex;
    flex-basis: calc(59% - 20px);
  }
}

.cards-list .container-3-parent {
  width: calc((110% - 40px) / 3);
  margin-bottom: 20px;
  left: -54px;
  margin-right: 7%;
}

/* 
.cards-list {
  display: flex;
  gap: 20px;
  /* flex-flow: row wrap; */
/* align-content: space-around; */
/* gap: 100px; */
/* overflow: auto;
  margin-top: 100px;
  height: 490px;
  box-sizing: border-box; /* Include padding in the total width */

.cards-list .container-3-parent {
  width: calc(
    (100% - 40px) / 3
  ); /* Calculate width for 3 items per row with gap */
  /* Adjust width for more or less items per row as needed */
  margin-bottom: 20px; /* Add bottom margin to create gap between cards */

  left: -45px;
  margin-right: 7%; /* Add right margin to create gap between cards */
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-flow: row; */
}

.featuredITems {
  top: 680px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 120%; /* Adjust the font size using em */
  font-weight: 400;
  left: 650px;
  position: absolute;
}

@media only screen and (min-width: 860px) and (max-width: 983px) {
  #featuredi {
    margin-top: -10px;
  }
}

@media only screen and (max-width: 860px) {
  #featuredi {
    margin-top: -200px;
  }
}

@media only screen and (max-width: 450px) {
  #featuredi {
    margin-left: -640px;
    font-style: italic;
    font-size: large;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin-top: -220px;
    font-size: 30px;
  }

  .cards-list .container-3-parent {
    /* Calculate width for 3 items per row with gap */
    /* Adjust width for more or less items per row as needed */
    margin-bottom: 20px; /* Add bottom margin to create gap between cards */

    left: -55px;
    margin-right: 7%; /* Add right margin to create gap between cards */
    /* display: flex;
       flex-wrap: wrap;
       flex-direction: row;
       flex-flow: row; */
  }
  .carousel-item img {
    width: 100%;
    height: 100%;
  }
  .container-3 {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    /* max-width: 283px; */
    top: -80px;
    left: 109px;
    /* border-radius: 6px; */
    background-color: #fff;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 4px 9px rgba(23, 26, 31, 0.11);
    height: 440px;
  }
}
