@font-face {
  font-family: "Cereal";
  src: url("../../assets/airbnb-cereal-font/AirbnbCereal_W_Lt.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cereal-Md";
  src: url("../../assets/airbnb-cereal-font/AirbnbCereal_W_Md.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cereal-Bd";
  src: url("../../assets/airbnb-cereal-font/AirbnbCereal_W_XBd.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

#imgFluid {
  width: 1300px;
  height: 600px;
  margin-top: 5px;
  border-radius: 10px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  filter: contrast(110%);
  object-fit: cover;
  object-position: 10% 60%;
}

div.new {
  display: flex;
}

div.slogan {
  position: absolute;
  top: 23%;
  left: 7%;
  color: black;
  text-align: left;
  width: 40%;
}

.slogan p.headline {
  font-family: "Cereal-Md";
  text-align: left;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.4;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #130e3d, #5a5677);
  position: absolute;
  top: -2vw;
}

div.landingpage {
  display: flex;
  align-items: end;
  background-image: url("../../assets/house.svg");
  width: 100%;
  height: 850px;
  background-size: cover;
  background-repeat: no-repeat;
}

.tabpanel {
  width: 360px;
  height: 64px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  border: 1px solid #ddd;
  justify-content: space-between;
  padding: 6px 9px 6px 30px;
  gap: 20px;
  background-color: #fff;
  color: #222;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  margin-left: 160px;
  margin-bottom: 340px;
  cursor: pointer;
}
.tabpanel:hover {
  background-color: #eceef0;
}

.tabpanel.clicked {
  background-color: #fff;
}
.where {
  font-family: "Cereal-md";
  line-height: 16px;
  font-size: 12px;
  color: inherit;
  min-width: 38px;
}
.search-destinations {
  font-family: "Cereal";
  font-size: 14px;
  min-width: 126.4px;
  flex-shrink: 0;
  overflow: hidden;
  flex-direction: row;
  font-size: 14px;
  color: #6a6a6a;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}
.destination-search,
.search-field {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.destination-search,
.search-field {
  flex-direction: column;
}
.search-field {
  gap: 2px;
}
.destination-search {
  padding: 6px 0 0;
}
.searchbutton {
  background-color: transparent;
  height: 64px;
  position: relative;
  top: -8.5px;
  left: 20px;
}

.button-icon {
  transition: 0.3s cubic-bezier(0, -0.02, 0.35, 1.17);
  position: absolute;
  right: 20px;
  top: 10px;
}

/* if u need to add animation to searchIcon and searchWithIcon
.with-icon {
  position: relative;
  top: -0.25px;
} */

.where-dropdown {
  position: absolute;
  bottom: 120px;
  margin-left: -360px;
  width: 200px;
  padding: 0;
  margin-bottom: 0;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  list-style-type: none;
  z-index: 1000;
}

.where-dropdown li {
  padding: 14px 36px;
  cursor: pointer;
  font-family: "Cereal";
  font-size: 14px;
  color: #6a6a6a;
}

.where-dropdown li:hover {
  background-color: #eceef0;
}

/* Add padding to the first and last items and adjust the border-radius */
.where-dropdown li:first-child {
  padding-top: 18px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
}

.where-dropdown li:last-child {
  padding-bottom: 18px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
}

.divider {
  display: block;
  width: 160px;
  height: 1px;
  margin-left: 20px;
  background: linear-gradient(to right, #ededed, #dddddd, #ededed);
}

@media only screen and (max-width: 700px) {
  #imgFluid {
    height: 400px;
    width: 400px;
  }
}
@media only screen and (max-width: 860px) {
  #imgFluid {
    height: 300px;
  }
  .slogan p.headline {
    top: -8vh;
  }
}

@media only screen and (max-width: 1367px) {
  .tabpanel {
    margin-bottom: 20vw !important;
  }
  .slogan p.headline {
    top: -14vh;
  }
}

@media only screen and (max-width: 576px) {
  #imgFluid {
    width: 100%;
    height: 100%;
    /* left: 25px; */
  }
  .position-relative {
    padding-top: 5px;
    margin-top: -100px;
    margin-left: -5px;
  }

  .tabpanel {
    margin-left: 80px !important;
    width: 69% !important;
  }
}

/* tablet  */
@media only screen and (max-width: 768px) {
  div.slogan {
    position: absolute;
    left: 5%;
    color: black;
    text-align: left;
    width: 50%;
  }

  .slogan p.headline {
    font-family: "Cereal-Md";
    text-align: left;
    font-size: 3.5rem;
    top: -5vw;
  }

  div.landingpage {
    display: flex;
    align-items: end;
    background-image: url("../../assets/houseipad.svg");
    /* opacity: 0.75; */
    width: 100%;
    height: 1024px;
    background-size: cover;
  }
}

/* MOBILE */

@media only screen and (max-width: 430px) {
  div.slogan {
    position: absolute;
    top: 15%;
    left: 5%;
    color: black;
    text-align: left;
    width: 50%;
  }

  .slogan p.headline {
    font-family: "Cereal-Md";
    text-align: left;
    font-size: 2rem;
    margin-left: 15%;
    margin-top: 20%;
    z-index: 2;
  }

  div.landingpage {
    display: flex;
    align-items: end;
    background-image: url("../../assets/housephone.svg");
    position: relative;
    top: 24px;
    width: 100%;
    height: 650px;
    background-size: cover;
  }

  .tabpanel {
    margin-left: 40px !important;
    margin-bottom: 230px !important;
  }

  .where-dropdown {
    margin-left: -270px;
    top: -10px;
  }
}

@media only screen and (min-width: 1950px) {
  #imgFluid {
    width: 1500px;
  }
}

@media only screen and (min-width: 2260px) {
  #imgFluid {
    width: 1900px;
    height: 700px;
  }
}

@media only screen and (min-width: 3100px) {
  #imgFluid {
    margin-top: -100px;
    width: 80%;
    height: 1150px;
  }
  #viewAll {
    margin-left: 45% !important;
    gap: 0px;
  }
}
