@keyframes bounceIn {
  0% {
    transform: translate(-50%, -1400%);
  }
  50% {
    transform: translate(-50%, -970%);
  }
  100% {
    transform: translate(-50%, -1000%);
  }
}

.success {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: fit-content;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  background: #84d65a;
  border-radius: 8px;
  box-shadow: 0px 0px 5px -3px #111;
  position: absolute;
  margin-top: 30vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -1000%);
  animation: bounceIn 0.8s ease forwards;
  z-index: 100;
}

.success__icon {
  width: 20px;
  height: 25px;
  transform: translateY(-2px);
  margin-right: 8px;
}

.success__icon path {
  fill: #393a37;
}

.success__title {
  font-weight: 500;
  font-size: 14px;
  color: #393a37;
}

.success__close {
  width: 20px;
  height: 28px;
  cursor: pointer;
  margin-left: 8px;
}

.success__close path {
  fill: #393a37;
}

@media (max-width: 600px) {
  .success {
    width: 90%;
    padding: 10px;
    margin-top: 20vh;
  }

  .success__title {
    font-size: 12px;
  }

  .success__icon {
    width: 18px;
    height: 23px;
  }

  .success__close {
    width: 18px;
    height: 26px;
  }
}
