/* your CSS goes here*/
body {
    background: #eee
}

#regForm {
    background-color: #ffffff;
    margin: 0px auto;
    font-family: Raleway;
    padding: 40px;
    border-radius: 10px
}

h1 {
    text-align: center
}

input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa
}

input.invalid {
    background-color: #ffdddd
}

.tab {
    display: none
}

button {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer
}

button:hover {
    opacity: 0.8
}

#prevBtn {
    background-color: #bbbbbb
}

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5
}

.step.active {
    opacity: 1
}

.step.finish {
    background-color: #4CAF50
}

.all-steps {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px
}

.thanks-message {
    display: none
}
.heading {
    font-size: large;
    font-weight: bold;
    font-size: 27px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: -49px;
}
.container1 {
    display: flex;
    margin-top: 20px;
    border: 1px solid #ccc; /* Increase border width to 2px */
    height: 66px;
    width: 105%;
    border-radius: 10px; /* Optional: Add rounded corners */
    /* text-align: right; Align text to the right */
    margin-left: -50px;
    padding-left: 65px; /* Add padding to the left */
    padding-top: 12px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.container1:hover {
    cursor: pointer;
    padding-bottom: 50px;
    padding-right: 4px;
    padding-left: 82px;
    padding-top: 20px;
    transition: 0.4s;
}

/* Hide the browser's default radio button */

.container1 input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    margin-left: -400px;
}


/* Create a custom radio button */

.checkmark {
    position: absolute;
    height: 10px;
    margin-top: 12px;
    margin-top: 8px;
    margin-bottom: 10px;
    left: 29%;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
    padding: 12px;
}


/* On mouse-over, add a grey background color */

/* .container:hover input~.checkmark {
    background-color: #ccc;
} */




/* When the radio button is checked, add a blue background */

.container input:checked~.checkmark {
    background-color: black;
    position: absolute;
}


/* Create the indicator (the dot/circle - hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the indicator (dot/circle) when checked */

.container input:checked~.checkmark:after {
    display: block;
}


/* Style the indicator (dot/circle) */

.container .checkmark:after {
    top: 6px;
    left: 6.4px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: white;
}
.address {
    font-weight: bold;
    font-size: 20px;
    margin-top: 40px;
    margin-left: -50px;
}

#addressBox {
    position: absolute;
    margin-left: -70px;
    margin-top: 80px;
    border-radius: 10px;
    height:60px;
    max-width: 330px;
    overflow-y: wrap;
}
#addressBox:hover {
    padding: 20px;
    transition: 0.4s;
    cursor: pointer;
    background-color: gainsboro;

}
.buildingName {
    font-weight: bold;
    font-size: 20px;
    margin-top: 40px;
    margin-left: 274px;
}
#buildingNameBox {
    position: absolute;
    margin-left: -129px;
    margin-top: 80px;
    border-radius: 10px;
    height:60px;
    max-width: 250px;
    overflow-y: wrap;
}

#buildingNameBox:hover {
    padding: 20px;
    transition: 0.4s;
    cursor: pointer;
    background-color: gainsboro;

}

#nextBtn {
    position: absolute;
    top:122%;
    left: 60%;
    background-color: black;
    border-radius: 10px;
    width: 120px;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.bedRooms {
    position: absolute;
    margin-top: 160px;
    margin-left: -32%;
    font-weight: bold;
    font-size: 20px;
}

#bedRooms {
    position: absolute;
    margin-left: -32%;
    margin-top: 200px;
    border-radius: 10px;
    height:60px;
    max-width: 330px;
    overflow-y: wrap;
}

#bedRooms:hover {
    padding: 20px;
    transition: 0.4s;
    cursor: pointer;
    background-color: gainsboro;
}

.bathRooms {
    position: absolute;
    margin-top: 160px;
    margin-left: -129px;
    font-weight: bold;
    font-size: 20px;
}

#bathRooms {
    position: absolute;
    margin-left: -129px;
    margin-top: 200px;
    border-radius: 10px;
    height:60px;
    max-width: 250px;
    overflow-y: wrap;
    
}

#bathRooms:hover {
    padding: 20px;
    transition: 0.4s;
    cursor: pointer;
    background-color: gainsboro;

}

.headings2 {
    margin-left: 0px;
    margin-top: 100px;
    margin-bottom: -40px;
    font-size: large;
    font-weight: bold;
    font-size: 27px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* margin-left: -49px; */

}
/* .tab {
    height:400px;
    margin-left: 200px;
} */
/* .firstName {
    position: relative;
    margin-left: -8%;
    margin-top: 15%;
    max-width: 40%;
} */

/* .lastName {
    position: absolute;
    margin-right: 5%;
} */

#firsts {
    position: absolute;
    margin-left: 40px;
    margin-top: 80px;
    border-radius: 10px;
    height:60px;
    max-width: 450px;
    overflow-y: wrap;
}
#firsts:hover {
    padding: 20px;
    transition: 0.4s;
    cursor: pointer;
    background-color: gainsboro;
}
#last {
    position: absolute;
    margin-left: 2.7%;
    margin-top: 140px;
    border-radius: 10px;
    height:60px;
    max-width: 450px;
    overflow-y: wrap;
}

#last:hover {
    padding: 20px;
    transition: 0.4s;
    cursor: pointer;
    background-color: gainsboro;
}

#email {
    position: absolute;
    margin-left: 2.7%;
    margin-top: 216px;
    border-radius: 10px;
    height:60px;
    max-width: 450px;
    overflow-y: wrap;
}

#email:hover {
    padding: 20px;
    transition: 0.4s;
    cursor: pointer;
    background-color: gainsboro;
}

#phone {
    position: absolute;
    margin-left: 2.7%;
    margin-top: 292px;
    border-radius: 10px;
    height:60px;
    max-width: 450px;
    overflow-y: wrap;
}

#phone:hover {
    padding: 20px;
    transition: 0.4s;
    cursor: pointer;
    background-color: gainsboro;
}

#prevBtn {
    position: absolute;
    margin-top: 30%;
    margin-left: -12%;
    border-radius: 10px;
    background-color: gray;

}
#prevBtn:hover {
    padding-top: 15px;
    padding-left: 30px;
    padding-bottom: 15px;
    padding-right: 30px;
    background-color: black;
    transition: 0.5s;
}