/* your CSS goes here*/

body {
  background: #eee;
}

#regFormPost {
  background-color: #ffffff;
  margin: 0px auto;
  font-family: Raleway;
  padding: 40px;
  border-radius: 10px;
}

h1.post {
  text-align: center;
}

input.post {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

input.post.invalid {
  background-color: #ffdddd;
}

.tabPost {
  display: none;
}

button.post {
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button.post:hover {
  opacity: 0.8;
}

#prevBtnPost {
  background-color: #bbbbbb;
}

.stepPost {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.stepPost.active {
  opacity: 1;
}

.stepPost.finish {
  background-color: #4caf50;
}

.all-stepsPost {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.thanks-messagePost {
  display: none;
}

.headingPost {
  font-size: large;
  font-weight: bold;
  font-size: 27px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-left: -49px;
}

.container1Post {
  display: flex;
  margin-top: 20px;
  border: 1px solid #ccc;
  height: 66px;
  width: 105%;
  border-radius: 10px;
  margin-left: -50px;
  padding-left: 65px;
  padding-top: 12px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

.container1Post:hover {
  cursor: pointer;
  padding-bottom: 50px;
  padding-right: 4px;
  padding-left: 82px;
  padding-top: 20px;
  transition: 0.4s;
  background-color: #ccc;
}

.container1Post input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  margin-left: -400px;
}

.checkmarkPost {
  position: absolute;
  height: 10px;
  margin-top: 12px;
  margin-top: 8px;
  margin-bottom: 10px;
  left: 29%;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
  padding: 12px;
}

.container1Post input:checked ~ .checkmarkPost {
  background-color: black;
  position: absolute;
}

.container1Post .checkmarkPost:after {
  content: "";
  position: absolute;
  display: none;
}

.container1Post input:checked ~ .checkmarkPost:after {
  display: block;
}

.container1Post .checkmarkPost:after {
  top: 6px;
  left: 6.4px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: white;
}

.addressPost {
  font-weight: bold;
  font-size: 20px;
  margin-top: 40px;
  margin-left: -50px;
}

#addressBoxPost {
  position: absolute;
  margin-left: -70px;
  margin-top: 80px;
  border-radius: 10px;
  height: 60px;
  max-width: 330px;
  overflow-y: wrap;
}

#addressBoxPost:hover {
  padding: 20px;
  transition: 0.4s;
  cursor: pointer;
  background-color: gainsboro;
}

.buildingNamePost {
  font-weight: bold;
  font-size: 20px;
  margin-top: 40px;
  margin-left: 274px;
}

#buildingNameBoxPost {
  position: absolute;
  margin-left: -129px;
  margin-top: 80px;
  border-radius: 10px;
  height: 60px;
  max-width: 250px;
  overflow-y: wrap;
}

#buildingNameBoxPost:hover {
  padding: 20px;
  transition: 0.4s;
  cursor: pointer;
  background-color: gainsboro;
}

#nextBtnPost {
  position: absolute;
  top: 122%;
  left: 60%;
  background-color: black;
  color: white;
  border-radius: 10px;
  width: 120px;
  font-size: large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.bedRoomsPost {
  position: absolute;
  margin-top: 160px;
  margin-left: -32%;
  font-weight: bold;
  font-size: 20px;
}

#bedRoomsPost {
  position: absolute;
  margin-left: -32%;
  margin-top: 200px;
  border-radius: 10px;
  height: 60px;
  max-width: 330px;
  overflow-y: wrap;
}

#bedRoomsPost:hover {
  padding: 20px;
  transition: 0.4s;
  cursor: pointer;
  background-color: gainsboro;
}

.bathRoomsPost {
  position: absolute;
  margin-top: 160px;
  margin-left: -129px;
  font-weight: bold;
  font-size: 20px;
}

#bathRoomsPost {
  position: absolute;
  margin-left: -129px;
  margin-top: 200px;
  border-radius: 10px;
  height: 60px;
  max-width: 250px;
  overflow-y: wrap;
}

#bathRoomsPost:hover {
  padding: 20px;
  transition: 0.4s;
  cursor: pointer;
  background-color: gainsboro;
}

.headings2Post {
  margin-left: 0px;
  margin-top: 100px;
  margin-bottom: -40px;
  font-size: large;
  font-weight: bold;
  font-size: 27px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#firstsPost {
  position: absolute;
  margin-left: 40px;
  margin-top: 80px;
  border-radius: 10px;
  height: 60px;
  max-width: 450px;
  overflow-y: wrap;
}

#firstsPost:hover {
  padding: 20px;
  transition: 0.4s;
  cursor: pointer;
  background-color: gainsboro;
}

#lastPost {
  position: absolute;
  margin-left: 2.7%;
  margin-top: 140px;
  border-radius: 10px;
  height: 60px;
  max-width: 450px;
  overflow-y: wrap;
}

#lastPost:hover {
  padding: 20px;
  transition: 0.4s;
  cursor: pointer;
  background-color: gainsboro;
}

#emailPost {
  position: absolute;
  margin-left: 2.7%;
  margin-top: 216px;
  border-radius: 10px;
  height: 60px;
  max-width: 450px;
  overflow-y: wrap;
}

#emailPost:hover {
  padding: 20px;
  transition: 0.4s;
  cursor: pointer;
  background-color: gainsboro;
}

#phonePost {
  position: absolute;
  margin-left: 2.7%;
  margin-top: 292px;
  border-radius: 10px;
  height: 60px;
  max-width: 450px;
  overflow-y: wrap;
}

#phonePost:hover {
  padding: 20px;
  transition: 0.4s;
  cursor: pointer;
  background-color: gainsboro;
}

#prevBtnPost {
  position: absolute;
  margin-top: 30%;
  margin-left: -12%;
  border-radius: 10px;
  background-color: rgb(31, 31, 31);
  color: white;
}

#prevBtnPost:hover {
  padding-top: 15px;
  padding-left: 30px;
  padding-bottom: 15px;
  padding-right: 30px;
  background-color: black;
  transition: 0.5s;
}
