.btn-outline-secondary:hover {
  transition: 0.6s;
  padding-right: 10px;
  padding-left: 10px;
}
.btn-btn-dark:hover {
  transition: 1s;
  padding-right: 10px;
}

.filteredData {
  display: flex;
  flex-wrap: wrap;
}

.filters {
  flex: 1;
  padding-left: 16px;
  padding-right: 64px;
  padding-top: 150px;
  height: 100vh;
  /* box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); small shadow*/
  /* box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.075); large shadow*/
  box-shadow: 1.5rem -5rem 4rem rgba(0, 0, 0, 0.1); /* intense shadow */
  z-index: 2;
  max-width: 25%;
}

.cards {
  flex: 4;
  background-color: #f2f2f2;
  flex-wrap: wrap;
  padding-left: 70px;
}

.cards-lists {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 12%;
  gap: 20%;
  margin-bottom: 20%;
  padding-left: -20px;
  padding-top: 16px;
  max-width: 75%;

  row-gap: 0px;
}
