#root {
  max-width: 1280px;
  background-color: hsl(0, 0%, 98%);
}

/*------ Save Button ------*/
.save-container {
  --color: #a5a5b0;
  --size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: var(--size);
  user-select: none;
  fill: var(--color);
}

.save-container .save-solid {
  position: absolute;
  animation: keyframes-fill .5s;
  transform-origin: top;
}

.save-container .save-regular {
  position: absolute;
  animation: keyframes-fill .5s;
  display: none;
  transform-origin: top;
}

/* ------ On check event ------ */
.save-container input:checked ~ .save-solid {
  display: none;
}

.save-container input:checked ~ .save-regular {
  display: block;
}

/* ------ Hide the default checkbox ------ */
.save-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* ------ Animation ------ */
@keyframes keyframes-fill {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    transform: scaleY(1.2);
  }
}

.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  /* padding-left: 30px; */
  padding-top: 40px;
}

/* Styles for the card container */
.card {
  border-radius: 20px;
  margin: 10px;
  margin-top: 100px;
  padding: 20px;
  padding-bottom: 2px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  /* position: relative; */
  position: absolute;
  align-items: center;
  width: 200px;
}

/* Styles for the card image */
.card img {
  padding: 2px;
  height: auto;
  border-radius: 5px;
}

.featuredITems {
  font-size: larger;
  font-weight: 1000;
  margin-Top: 80px;
  margin-left: 20px;
  position: absolute;
}
/* Styles for card stats (title, artist, year) */
.card--stats {
  color: #b5b7c0;
  margin: 10px 0;
}

.card--stats .firstElement h6 {
  font-weight: 1000;
}

.card--stats div {
  margin-top: -8px;
}
