@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");

#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background:white;
}
body {
  margin: 0;
  line-height: normal;
}

/*------ Save Button ------*/
.save-container {
  --color: #a5a5b0;
  --size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: var(--size);
  user-select: none;
  fill: var(--color);
}

.save-container .save-solid {
  position: absolute;
  animation: keyframes-fill .5s;
  transform-origin: top;
}

.save-container .save-regular {
  position: absolute;
  animation: keyframes-fill .5s;
  display: none;
  transform-origin: top;
}

/* ------ On check event ------ */
.save-container input:checked ~ .save-solid {
  display: none;
}

.save-container input:checked ~ .save-regular {
  display: block;
}

/* ------ Hide the default checkbox ------ */
.save-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* ------ Animation ------ */
@keyframes keyframes-fill {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    transform: scaleY(1.2);
  }
}

.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  padding-top: 40px;
}

